$primary: #111236;
$secondary: #585858;
$white: #fff;
$black: #000000;
$red: #e65346;
$shadedGray: #eee;
$bodyBG: #fdfbfb;
$borderColor: #ccc;
$textColor: #333;
$lightTextColor: #666;
$lightIcon: #5f6368ab;
