@import 'common/styles/_colors.scss';

.container {
  h1 {
    background-color: $secondary;
    color: $white;
  }
  .profile {
    padding-top: 30px;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 20% 80%;
  }
}
